---

---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About | LineUp</title>
  <link rel="icon" type="image/svg" href="/lineup.svg">
</head>
<body class="bg-lineup-100 dark:bg-lineup-950 text-lineup-800 dark:text-lineup-50 font-sans antialiased">
  <header class="bg-lineup-600 dark:bg-lineup-900 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
      <a href="/" class="text-xl font-bold text-lineup-50">
        <img src="/lineup.svg" alt="LineUp logo" class="inline-block mr-2 size-9 rounded-md"/> LineUp
      </a>
      <a href="/about" class=" text-lineup-50 hover:underline hover:text-lineup-100">About</a>
    </div>
  </header>
  
  <div class="container mx-auto p-4">
    <h1 class="text-3xl font-bold mb-5">About LineUp</h1>
    <p>
      LineUp is a simple web application that allows you to learn lines for scripts or screenplays in a simple, distraction-free environment.
    </p>
    <br>
    <p>
      It runs on Vercel and uses Astro and Tailwind CSS, and simple Vanilla JavaScript.
    </p>
    <br>
    <p>Here's the <a href="https://github.com/leowilkin/lineup">GitHub</a> README:</p>
    <p>
        <b>What would you use LineUp for?</b>
        Learning screenplays, monologues, short sections of scripts you just can't nail down and many more
        <br>
        <b>How easy is it to use?</b>
        It's super simple! Just copy and paste your script into our webapp and hit Start Learning.
        <br>
        <b>Can I mod it?</b>
        Absolutely, we'd love you to fork LineUp and add it to our Community gallery of skins, features (and if it's good enough, we might put it on the OG product)
        <br>
        <b>Who made it?</b>
        LineUp is maintained and developed by <a href="https://github.com/leowilkin">@leowilkin</a>. You can find him at wilkin.xyz - come and say hi :)
    </p>
  </div>